@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .header__container-1 {
    max-width: 970px;
  }
  .header__container-2 {
    max-width: 970px;
  }
  .header__container__nav {
    max-width: 970px;
  }
  .container__slider {
    max-width: 970px;
  }
  .container__uslugy {
    max-width: 970px;
  }
  .container__info {
    max-width: 970px;
  }
  .container__foto-razdel {
    max-width: 970px;
  }
  .container__galary {
    max-width: 970px;
  }
  .container__footer {
    max-width: 970px;
  }
  .container__footer-bot {
    max-width: 970px;
  }
}
@media (max-width: 990px) {
  .container {
    max-width: 750px;
  }
  .header__container-1 {
    max-width: 750px;
  }
  .header__container-2 {
    max-width: 750px;
  }
  .header__container__nav {
    max-width: 750px;
  }
  .container__slider {
    max-width: 750px;
  }
  .container__uslugy {
    max-width: 750px;
  }
  .container__info {
    max-width: 750px;
  }
  .container__foto-razdel {
    max-width: 750px;
  }
  .container__galary {
    max-width: 750px;
  }
  .container__footer {
    max-width: 750px;
  }
  .container__footer-bot {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: none;
  }
  .header__container-1 {
    max-width: none;
  }
  .header__container-2 {
    max-width: none;
  }
  .header__container__nav {
    max-width: none;
  }
  .container__slider {
    max-width: none;
  }
  .container__uslugy {
    max-width: none;
  }
  .container__info {
    max-width: none;
  }
  .container__foto-razdel {
    max-width: none;
  }
  .container__galary {
    max-width: none;
  }
  .container__footer {
    max-width: none;
  }
  .container__footer-bot {
    max-width: none;
  }
}
